---
// Import components and constants
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---


<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="layout">
    <div class="background-wrapper">
      <Header />
      <main>
        <h1>Website under construction</h1>
        <p>
          Please check back later. In the meantime, you can find me on 
          <a href="https://www.linkedin.com/in/teresewahlstrom" target="_blank">LinkedIn</a>.
        </p>
      </main>
    </div>
    <Footer />
  </body>
</html>


<!-- 
---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
<div class="background-wrapper">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <div class="page-wrapper">
      <Header />
      <main>
        <h1>Website under construction</h1> 

        <p>
          Please check back later. In the meantime, you can find me on 
          <a href="https://www.linkedin.com/in/teresewahlstrom" target="_blank">LinkedIn</a>.
        </p>
      </main>
      <Footer />
    </div>
  </body>
</html>



-->