---
// Import components and constants
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Tiles from "../components/tiles.astro";
import InitCal from "../components/InitCal.astro";
import InitSubscr from "../components/InitSubscr.astro";
import { Icon } from 'astro-icon/components';
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="layout">
    <div class="background-wrapper">
      

      <main>
        <Header />

        <Tiles>
          <div class="tile">
            <h3>Identify -> Clarify -> Cut waste -> Coach for Change</h3>
            <p class="details">Details about A</p>
          </div>
          <div class="tile">
            <h3>R&D</h3>
            <p class="details">Details about B</p>
          </div>
          <div class="tile">
            <h3>Customer Experience</h3>
            <p class="details">Details about C</p>
          </div>
        </Tiles>
        

        <h2>Contact, Connect & Follow</h2>
        <p>I'm always open to new opportunities and connections. Feel free to reach out!</p>

        <!-- 👇 Move social icons here -->
        <div class="social-links">
          <a href="mailto:terese@t1grid.com">
            <span class="sr-only">Send me an email</span>
            <Icon name="mdi:email" width="28" height="28" />
          </a>

          <a href="tel:+46709800525" aria-label="Call me">
            <Icon name="mdi:phone" width="28" height="28" />
          </a>

          <!-- Book Me -->
          <a href="https://cal.com/teresew/intro" data-cal-namespace="intro" data-cal-config='{"layout":"month_view"}' target="_blank" rel="noopener" aria-label="Book a meeting">
            <Icon name="mdi:calendar-clock" width="28" height="28" />
          </a>

        <br/><br/>

          <a href="#" id="open-subscribe">
            <span class="sr-only">Subscribe</span>
            <Icon name="mdi:bell-ring" width="28" height="28" />
          </a>
          <a href="https://www.linkedin.com/in/teresewahlstrom" target="_blank" rel="noopener">
            <span class="sr-only">Connect with me on LinkedIn</span>
            <Icon name="mdi:linkedin" width="28" height="28" />
          </a>

        </div>

        <ul>
          <li>
            <a href="#" data-cal-link="teresew/intro" data-cal-namespace="intro" data-cal-config='{"layout":"month_view"}'>
              Book a virtual coffee with me
            </a>
          </li>
        </ul>





        <InitCal />
        </ul>
      </main>
      <InitSubscr />
    </div>
    <Footer />
  </body>
</html>