---
// Import components and constants
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Tiles from '../components/tiles.astro';
---


<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="layout">
    <div class="background-wrapper">
      <Header />
      <main>
        <h1>T1 grid is evolving.</h1>
        <p>
          
            I'm working on something new — a space where design meets systems thinking. 
            Meanwhile, connect with me on <a href="https://www.linkedin.com/in/teresewahlstrom" target="_blank">LinkedIn</a> or book a call.
        </p>
        
        <Tiles />
        </br>
        <h2>Keep updated and in contact with me.</h2>

      </main>
    </div>
    <Footer />
  </body>
</html>