---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('April 23 2025')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		Hi, I’m Tess – a systems thinker with 9+ years of experience turning complexity into clarity across engineering, design, learning, and customer-facing roles. I thrive in messy, knowledge-scarce environments and am known for making sense of scattered information, aligning teams, and creating smarter ways of working.
		My background spans automotive, aerospace, medical, and jewellery, with a deep focus on additive manufacturing and design optimisation. I love owning projects, eliminating inefficiencies, and bridging gaps between people, process, and product—always with a human-centred mindset.

	</p>

</Layout>
