---
const today = new Date();
import CalFloatingButton from './CalFloatingButton.astro';
import { Icon } from 'astro-icon/components';

---

<footer>
	&copy; {today.getFullYear()} T1 grid. All rights reserved.
	<div class="social-links">
		
		<a href="mailto:terese@t1grid.com">
			<span class="sr-only">Send me an email</span>
			<Icon name="tabler:mail" width="32" height="32" />
		  </a>
		  <a href="https://www.linkedin.com/in/teresewahlstrom" target="_blank">
			<span class="sr-only">Connect with me on LinkedIn</span>
			<Icon name="tabler:brand-linkedin" width="32" height="32" />
		  </a>

	</div>
</footer>

<CalFloatingButton />


<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>



