---
const today = new Date();
import CalFloatingButton from './CalFloatingButton.astro';
import { Icon } from 'astro-icon/components';
import { SITE_TITLE } from '../consts';

---

<footer>
	&copy; {SITE_TITLE} {today.getFullYear()}. All rights reserved. <a href="/subscribe/">Subscribe! </a>

	<div class="social-links">

		<a href="https://www.linkedin.com/company/t1-grid" target="_blank">
			<span class="sr-only">Connect with me on LinkedIn</span>
			<Icon name="mdi:linkedin" width="32" height="32" />
		  </a>		
		<a href="mailto:terese@t1grid.com">
			<span class="sr-only">Send me an email</span>
			<Icon name="mdi:email" width="32" height="32" />
		  </a>

	</div>
</footer>

<CalFloatingButton />


<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>


