---
const today = new Date();
import CalFloatingButton from './CalFloatingButton.astro';
---

<footer>
	&copy; {today.getFullYear()} Your name here. All rights reserved.
	<div class="social-links">
		


		<a href="mailto:terese@t1grid.com">
			<span class="sr-only">Send me an email</span>
			<svg viewBox="0 0 16 16" aria-hidden="true" width="32" height="32" astro-icon="email">
			  <path
				fill="currentColor"
				d="M1.5 3.5h13a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-8a.5.5 0 0 1 .5-.5zm0 1v.511l6.5 4.339 6.5-4.339V4.5h-13zm0 1.489v5.511h13V5.989l-6.5 4.339-6.5-4.339z"
			  ></path>
			</svg>
		  </a>
		  <a href="https://www.linkedin.com/in/teresewahlstrom" target="_blank">
			<span class="sr-only">Connect with me on LinkedIn</span>
			<svg viewBox="0 0 16 16" aria-hidden="true" width="32" height="32" astro-icon="linkedin">
			  <path
				fill="currentColor"
				d="M1.146 1.146a.5.5 0 0 1 .708 0L8 7.293l6.146-6.147a.5.5 0 0 1 .708.708L8.707 8l6.147 6.146a.5.5 0 0 1-.708.708L8 8.707l-6.146 6.147a.5.5 0 0 1-.708-.708L7.293 8 1.146 1.854a.5.5 0 0 1 0-.708z"
			  ></path>
			</svg>
		  </a>

	</div>
</footer>

<CalFloatingButton />


<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>



