---
import { SITE_TITLE } from '../consts';
---

<header>
	<nav>
		<a href="/"><img src="/images/logo.png" alt={SITE_TITLE} class="logo-img"></a>
	</nav>
</header>


<style>
	header {
		margin: 0;
		padding: 3px 0;
	}
	
	.logo-img {
		width: 100px;
		height: 90px;
		image-rendering: auto;
		display: block;
		position: relative;
	}

	header nav a {
    display: inline-block;
	}
</style>